a:link {color:#ffffff;}
a:visited {color:#ffffff;}
a:hover {color:#ffffff;}
a:active {color:#ffffff;}
.Wp-Artistic-Body-P
{
    margin:0.0px 0.0px 0.0px 48.0px; text-align:left; font-weight:400; text-indent:-15.0px;
}
.Wp-Body-P
{
    margin:0.0px 0.0px 12.0px 48.0px; text-align:left; font-weight:400; text-indent:-15.0px;
}
.Wp-Body-1-P
{
    margin:0.0px 0.0px 12.0px 48.0px; text-align:left; font-weight:400; text-indent:-15.0px;
}
.Wp-Body-2-P
{
    margin:0.0px 0.0px 12.0px 48.0px; text-align:left; font-weight:400; text-indent:-15.0px;
}
.Wp-Heading-1-P
{
    margin:0.0px 0.0px 11.0px 48.0px; text-align:left; font-weight:400; text-indent:-15.0px;
}
.Wp-Heading-2-P
{
    margin:0.0px 0.0px 0.0px 48.0px; text-align:left; font-weight:400; text-indent:-15.0px;
}
.Wp-Heading-3-P
{
    margin:0.0px 0.0px 0.0px 48.0px; text-align:left; font-weight:400; text-indent:-15.0px;
}
.Wp-Hyperlink-1-P
{
    margin:0.0px 0.0px 12.0px 48.0px; text-align:left; font-weight:400; text-indent:-15.0px;
}
a.Wp-Hyperlink-1-P-H:link {color:#3c6873;}
a.Wp-Hyperlink-1-P-H:visited {color:#243f45;}
a.Wp-Hyperlink-1-P-H:hover {color:#182a2e;}
a.Wp-Hyperlink-1-P-H:active {color:#3c6873;}
.Wp-Normal-P
{
    margin:0.0px 0.0px 0.0px 48.0px; text-align:left; font-weight:400; text-indent:-15.0px;
}
.Wp-Price-P
{
    margin:0.0px 0.0px 12.0px 48.0px; text-align:left; font-weight:400; text-indent:-15.0px;
}
.Wp-Price2-P
{
    margin:0.0px 0.0px 12.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Subheading-1-P
{
    margin:0.0px 0.0px 0.0px 48.0px; text-align:left; font-weight:400; text-indent:-15.0px;
}
.Wp-Subheading-3-P
{
    margin:0.0px 0.0px 16.0px 48.0px; text-align:left; font-weight:400; text-indent:-15.0px;
}
.Wp-Title-1-P
{
    margin:0.0px 0.0px 0.0px 48.0px; text-align:left; font-weight:400; text-indent:-15.0px;
}
.Wp-Title-2-P
{
    margin:0.0px 0.0px 0.0px 48.0px; text-align:left; font-weight:400; text-indent:-15.0px;
}
.Wp-Default-Paragraph-Font-C
{
    font-family:"Snell Roundhand", serif;
}
.Wp-Placeholder-C
{
    font-family:"Snell Roundhand", serif;
}
.Wp-Strong-Emphasis-C
{
    font-family:"Snell Roundhand", serif; font-style:italic; font-weight:700;
}